<div class="cont-<%=message.user.id%>">
  <div class="message-box">
    <div class="d-flex align-items-center">
      <%= image_tag(message.user.chat_avatar, class:'chat_pfp') %>
      <div>
        <div>
          <span><%= message.user.username %></span>
          <span class="time">,<%= message.created_at.strftime("%H:%M") %></span>
        </div>
        <% unless message.attachments.attached? %>
          <div  class="alert alert-primary other msg-<%= message.user.id %>">
            <%= markdown(message.body) %>
          </div>
        <% end %>
        <%= render "messages/attachments", message: message %>
      </div>
    </div>
  </div>
</div>
