<% if @single_room && @single_room.participant?(@single_room, user) %>
  <% isActive = 'active' %>
<% else %>
  <% isActive = '' %>
<% end %>
<% if room.present? %>
  <li class="list-group-item user_list_item <% isActive %> media p-2 user d-flex align-items-center justify-content-between">
    <div class="icon-container">
      <%= link_to image_tag(user.chat_avatar, class: 'chat_pfp'), user %>
      <%= turbo_stream_from "user_status" %>
      <div>
        <%= render "users/status", user: user %>
      </div>
    </div>
    <div class="media-body text-dark">
      <h6 class="ms-2 me-auto name-contact"><%= link_to user.username, user, class:"msg-role-#{user.role}" %></h6>
        <p>
          <%= turbo_frame_tag [dom_id(room), "user_last_message"] do %>
            <%= render "users/last_message",
              last_message: last_message,
              sender: sender %>
          <% end %>
        </p>
    </div>
  </li>
<% end %>
