 <%
=begin%>
 <div class="row" style="margin:0px; padding: 0px">
  <div class="col-8" style="padding: 0px">
    <div class="card p-5">
      <h1>Personal Chat</h1>
      <p>There are <strong><%= pluralize(@online_users, "User") %></strong> Online.</p>
      <p>This is a simple chat application built with Ruby on Rails.<br />
        It is a work in progress and is not yet fully functional. <br />
        Feel free to make an account and look around!</p>
      <% if current_user %>
        <div class="btn-group">
          <%= link_to "Start Chatting", rooms_path, class:'btn btn-primary' %>
          <%= link_to "Edit Account", edit_user_registration_path, class:'btn btn-secondary' %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class:'btn btn-danger' %>
        </div>
      <% else %>
        <div class="btn-group">
          <%= link_to "Login", new_user_session_path, class:'btn btn-primary' %>
          <%= link_to "Sign Up", new_user_registration_path, class:'btn btn-secondary' %>
        </div><%=  %>
      <% end %>
    </div>
  </div>

  <%= turbo_stream_from "public_messages" %>
  <div class="col-4" id="public_messages" style="overflow: hidden; height: calc(100vh-56px); padding: 0px;">
    <% @messages.each do |message| %>
      <%= render "messages/message_preview", message: message %>
    <% end %>
  </div>
</div>  
<%
=end%>

<% content_for :css_file do %>
  <%= stylesheet_link_tag 'aos/aos' %>
  <%= stylesheet_link_tag 'glightbox/glightbox.min' %>
  <%= stylesheet_link_tag 'swiper/swiper-bundle.min' %>
<% end %>

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container" data-aos="fade-in">
    <h1>Welcome to eChannels</h1>
    <h2>Free, Simple, Secure & Reliable Messages <br> With Knowing and unknowing members on the eChannel</h2>
    <img src="<%= image_path("hero-img.png") %>" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
    <%= link_to "Get Started", current_user ? rooms_path : new_user_session_path, class: 'btn-get-started scrollto' %>
    <div class="btns">
      <a href="#"><i class="fa fa-apple fa-3x"></i> public channel 1</a>
      <a href="#"><i class="fa fa-play fa-3x"></i> public channel 2</a>
      <a href="#"><i class="fa fa-windows fa-3x"></i> public channel 3</a>
    </div>
  </div>
</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= Get Started Section ======= -->
  <section id="get-started" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">

        <h2>Message your family and friends <br> freely and securely.</h2>
        <p class="separator">Create group chats up to 500 members, send pictures, video with all eChannels members.</p>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="feature-block">
            <img src="<%= image_path("svg/cloud.svg") %>" alt="img">
            <h4>introducing eChannel</h4>
            <p>It is 100% free* to use eChannels. The idea is to build a wider network with more security in the online industry.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="feature-block">
            <img src="<%= image_path("svg/planet.svg") %>" alt="img">
            <h4>user friendly interface</h4>
            <p>The UI is very simple and easy to learn, so the eChannel member will not have a difficult time introducing the app.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="feature-block">
            <img src="<%= image_path("svg/asteroid.svg") %>" alt="img">
            <h4>build the app everyone love</h4>
            <p>Our goal is to build a web application that allows us to create more friends while encrypting their messages and sharing documents and videos.</p>
          </div>
        </div>

      </div>
    </div>

  </section><!-- End Get Started Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about-us" class="about-us padd-section">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">

        <div class="col-md-5 col-lg-3">
          <img src="<%= image_path("about-img.png") %>" alt="About" data-aos="zoom-in" data-aos-delay="100">
        </div>

        <div class="col-md-7 col-lg-5">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">
            <h2><span>eChannels</span>UI Design </h2>
            <ul class="list-unstyled">
              <li><i class="vi bi-chevron-right"></i>Creative Design</li>
              <li><i class="vi bi-chevron-right"></i>Retina Ready</li>
              <li><i class="vi bi-chevron-right"></i>Easy to Use</li>
              <li><i class="vi bi-chevron-right"></i>Speak Freely</li>
              <li><i class="vi bi-chevron-right"></i>Say What's On Your Mind</li>
              <li><i class="vi bi-chevron-right"></i>Document Sharing Made Easy</li>
              <li><i class="vi bi-chevron-right"></i>Share Moments that Matter</li>
              <li><i class="vi bi-chevron-right"></i>Groups to keep in touch</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <h2>Amazing Features.</h2>
        <p class="separator">Why eChannel?</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="<%= image_path("svg/paint-palette.svg") %>" alt="img">
            <h4>Simple design</h4>
            <p>e<b>Channel</b> is so simple you already know how to use it</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="<%= image_path("svg/vector.svg") %>" alt="img">
            <h4>Private</h4>
            <p>e<b>Channel</b> messages are heavily encrypted and can self-destruct</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="<%= image_path("svg/design-tool.svg") %>" alt="img">
            <h4>Synced</h4>
            <p>e<b>Channel</b> lets you access your chats from multiple devices</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="<%= image_path("svg/asteroid.svg") %>" alt="img">
            <h4>Free Updates</h4>
            <p>An update can be managed through e<b>Channel</b> without causing any issues for users</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="<%= image_path("svg/asteroid.svg") %>" alt="img">
            <h4>Fast</h4>
            <p>e<b>Channel</b> delivers messages faster than any other application</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="<%= image_path("svg/cloud-computing.svg") %>" alt="img">
            <h4>Powerful</h4>
            <p>e<b>Channel</b> has no limits on the size of your media and chats</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="<%= image_path("svg/pixel.svg") %>" alt="img">
            <h4>Social</h4>
            <p>e<b>Channel</b> groups can hold up to 200,000 members</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="<%= image_path("svg/code.svg") %>" alt="img">
            <h4>Free handle</h4>
            <p>You can send messages by searching for the name of a group without joining e<b>Channel</b> group</p>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Features Section -->

  <!-- ======= Screenshots Section ======= -->
  <section id="screenshots" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <h2>Web Gallery</h2>
      </div>
      <div class="screens-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="<%= image_path("screen/1.jpg") %>" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="<%= image_path("screen/2.jpg") %>" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="<%= image_path("screen/3.jpg") %>" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="<%= image_path("screen/4.jpg") %>" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="<%= image_path("screen/5.jpg") %>" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="<%= image_path("screen/6.jpg") %>" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="<%= image_path("screen/7.jpg") %>" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="<%= image_path("screen/8.jpg") %>" class="img-fluid" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

  </section><!-- End Screenshots Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <h2>Team Member</h2>
      </div>

      <div class="row">

        <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
          <div class="team-block bottom">
            <img src="<%= image_path("team/1.jpg") %>" class="img-responsive" alt="img">
            <div class="team-content">
              <span>manager</span>
              <h4>Kimberly Tran</h4>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
          <div class="team-block bottom">
            <img src="<%= image_path("team/2.jpg") %>" class="img-responsive" alt="img">
            <div class="team-content">
              <span>manager</span>
              <h4>Kimberly Tran</h4>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
          <div class="team-block bottom">
            <img src="<%= image_path("team/3.jpg") %>" class="img-responsive" alt="img">
            <div class="team-content">
              <span>manager</span>
              <h4>Kimberly Tran</h4>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="400">
          <div class="team-block bottom">
            <img src="<%= image_path("team/4.jpg") %>" class="img-responsive" alt="img">
            <div class="team-content">
              <span>manager</span>
              <h4>Kimberly Tran</h4>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="padd-section text-center">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">

        <div class="col-md-8">

          <div class="testimonials-content">
            <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">

              <div class="carousel-inner" role="listbox">

                <div class="carousel-item  active">
                  <div class="top-top">

                    <h2>Our Users Speack volumes us</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries.</p>
                    <h4>Kimberly Tran<span>manager</span></h4>

                  </div>
                </div>

                <div class="carousel-item ">
                  <div class="top-top">

                    <h2>Our Users Speack volumes us</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries.</p>
                    <h4>Henderson<span>manager</span></h4>

                  </div>
                </div>

                <div class="carousel-item ">
                  <div class="top-top">

                    <h2>Our Users Speack volumes us</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries.</p>
                    <h4>David Spark<span>manager</span></h4>

                  </div>
                </div>

              </div>

              <div class="btm-btm">

                <ul class="list-unstyled carousel-indicators">
                  <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active"></li>
                  <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                  <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
                </ul>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Testimonials Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="padd-section">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <h2>Contact</h2>
        <p class="separator">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="bi bi-geo-alt"></i>
              <p>A108 Adam Street<br>New York, NY 535022</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <p>info@example.com</p>
            </div>

            <div>
              <i class="bi bi-phone"></i>
              <p>+1 5589 55488 55s</p>
            </div>
          </div>

          <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer class="footer text-center">
  <hr>
  <div class="copyrights">
    <div class="container">
      <p>&copy; Copyrights eStartup. All rights reserved.</p>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </div>

</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<% content_for :js_file do %>
  <%= javascript_include_tag "aos/aos" %>
  <%= javascript_include_tag "glightbox/glightbox.min" %>
  <%= javascript_include_tag "swiper/swiper-bundle.min" %>
  <%= javascript_include_tag "custom/main" %>
<% end %>